@page{
  size: A4;
}

@media print {
  body {
    margin: 1in;
    line-height: 2;
  }
  .header{
    display:none;
  }
  img {
    display:none;
  }
  .menu-horizontal {
    display:none;
  }
  .resume{
    margin:0px !important;
    padding:0 !important;
  }
  .resume h1{
    font-size:17pt !important;
  }
  .resume .left{
    float:none;
  }
  .left-right, .left-left, .left, .right, .right-right{
  	border-left:none;
  	float: none;
  	width: auto;
    padding:0;
  }
  .break, .footer-resume{
    page-break-before: always;
  }
  .left-right section, .right-right section{
    padding:0;
    margin:0;
  }
  .left-right section ul li{
    float:left;
    text-align:left;
    padding-left:19px;
  }
  .right-right section ul li{
    padding:0;
    margin:0;
  }
  .footer-resume .icon{
    float:left;
  }
  .row{
    padding:15px;
  }
  .footer-resume ul li{
    margin-left:70px;
    float:none;
    text-align:left !important;
  }
  .icon{
    margin-left:-90px !important;
    float:left;
  }
  .footer-resume{
  	border-top: none;
  	margin-top: 10px;
  	width: auto;
  }

  .footer-resume ul {
  	float: none;
  	margin: 0 auto;
  	width: auto;
  }
  .footer-resume h2 {
  	margin: 0 auto;
    border:none;
    text-align:left;
  }
  .languages ul li span{
    display:none;
  }
  .languages ul li{
    float:left;
    padding-left:30px !important;
  }



  .text-justified{
    text-align: justify;
  }
  video,audio, object, iframe {
    display: none
  }

  .style-footer {
    font-size: 15pt;
    margin-top: -22px;
    border-top: 1px solid #68c4a9;
    padding-top: 42px;
    width:auto;
    padding-right: 0px;
  }
  .footer-name {
  	font-family: biloxi;
  	font-size: 100pt;
    margin-bottom: -35px;
  }

  .footer-name-style {
  	font-size: 45pt;
  }

  .other-sections{
    margin-top: -18px;
    padding-top: 0px;
    text-align:center;
  }

  .hiddeninprint{
    display:none;
  }
  .contact {
    width: 100%;
    text-align: center;
  }
}

@page:first {
  size: A4;
  margin: 0;
}
