@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:200);
@font-face {
  font-family: biloxi;
  src: url('../fonts/biloxi-script.ttf');
}

body{
  -webkit-print-color-adjust:exact;
}

body, * {
	margin-top:0;
  margin-left:0;
  margin-right:0;
	padding:0;
  font-family: 'Ek Mukta';
}

.broadcast-menu {
  width: 400px !important;
}

.story-menu {
  width: 469px !important;
}

.resume-menu {
  width: 445px !important;
}

.icon{
  width: 5% !important;
  height:60px;
}
span.fa {
  font-size: 45pt;
}


.video-container {
  padding: 40px;
  text-align: center;
}

.text-align-right{
	text-align: right;
}

.pull-right {
  float:right !important;
}

.pull-left {
  float:left !important;
}

.left-container {
  width: 40%;
  padding: 20px;
}

.right-container {
  width: 40%;
  padding: 40px;
}

.long-column {
  margin-top: -20px;
}

.home-height{
  height: 50%;
}

.unordered-list {
	list-style:none;
  width:250px;
  margin-top: 50px;
  margin-left: 30px;
}

.list-item {
  text-align: right;
	font-size: 35pt;
  border-bottom: 1px solid #68c4a9;
  cursor: pointer;
  padding-left:10px;
  text-align: left;
}

.list-item a{
  text-align: right;
  text-decoration: none;
  color:black;
}

.lista {
	padding:5px;
}

.header{
  text-align: center;
  height: 150px;
  background: #ace5d5;
}
.menu-horizontal{
  background: rgb(183, 252, 252);
  margin-top: -45px;
}

.list-horizontal {
  margin: 0 auto 0 auto;
  width: 500px;
  height: 48px;
}

.image-style {
  width: 700px;
}

h1 {
  font-size: 55pt;
}

.list-horizontal > li {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
}

.list-horizontal > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  color: black;
  font-size: 24pt;
}

.panel {
	margin: 100px;
	box-shadow: 1px 1px 2px black;
}

.text-justified {
  font-size: x-large;
  text-align: justify;
}

.footer-style {
	padding: 5px;
  bottom: 0;
  width: 98%;
  position: relative;
  margin-top: 85px;
}

.footer-style span.fa {
  font-size: 20pt;
  color: black;
}

.style-footer {
  font-size: 20pt;
  margin-top: -22px;
  border-top: 1px solid #68c4a9;
  padding-top: 42px;
}

.style-footer span{
  color: #68c4a9;
}

.style-footer span a{
  text-decoration:none;
}

.style-footer span i{
  color: black;
  font-size: 20pt !important;
}


.footer-name {
	font-family: biloxi;
	font-size: 145pt;
  margin-bottom: -35px;
}

.footer-name-style {
	font-size: 45pt;
}

.other-sections{
  margin-top: -18px;
  padding-top: 0px;
}

.contact {
  width: 98%;
  position: relative;
  margin-left: 10px;
  text-align: right;
}

/*style-resume*/
main {
	margin-top: 20px;
  padding: 40px;
}

.loader-10 {
  background: grey;
  width: 220px;
  height: 15px;
  float:right;
}

.months{
  width: 49px;
}

.loader-10:before {
  background: #68c4a9;
  width: 180px;
  height: 15px;
  content: ' ';
  float:right;
}

.loader-20, .loader-30, .loader-40, .loader-50, .loader-60, .loader-70  {
  background: grey;
  width: 220px;
  height: 15px;
  float:right;
}

.loader-20:before {
  background: #68c4a9;
  width: 150px;
  height: 15px;
  content: ' ';
  float:right;
}

.loader-30:before {
  background: #68c4a9;
  width: 200px;
  height: 15px;
  content: ' ';
  float:right;
}

.loader-40:before {
  background: #68c4a9;
  width: 190px;
  height: 15px;
  content: ' ';
  float:right;
}

.loader-50:before {
  background: #68c4a9;
  width: 170px;
  height: 15px;
  content: ' ';
  float:right;
}

.loader-60:before {
  background: #68c4a9;
  width: 200px;
  height: 15px;
  content: ' ';
  float:right;
}

.loader-70:before {
  background: #68c4a9;
  width: 190px;
  height: 15px;
  content: ' ';
  float:right;
}
.resume h1{
	font-size: 45px;
}

h2{
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;

}
.resume .container{
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
}

.right{
	float:right;
	width: 50%;
}

.left{
	float: left;
	width: 50%;
}

.clear{
	clear: both;
}


.header-resume .left{
	width: 50%;
}

.header-resume .right {
	text-align: right;
	padding-top: 15px;
	color: #68C4A9;

}

.resume h1, .resume h2{
	color: #68C4A9;
}

.small{
  color: black;
  padding-left: 20px;
}

.center{
  text-align:center;
}

h3{
	margin: 0px;
}

.header-resume h1{
	margin: 0px;
	letter-spacing: 2px;
}

li{
	font-size: 14px;
	text-decoration: none;
	list-style-type: none;
}


main ul{
	padding-left: 0px !important;
}

.footer-resume{
	border-top: 1px solid gray;
	margin-top: 10px;
  width: 95%;
  height: 145px;
  padding-left: 43px;
}

.footer-resume img{
	float: left;
	margin: 10px 15px;
	width: 56px;
}

.footer-resume ul {
	float: left;
	margin: 0 auto;
	margin-top: 10px;
	width: 18%;

}

.footer-resume h2 {
	margin: 0 auto;
	text-align: center;
}


p{
	font-size: 14px;
}

main p{
	margin: 0px;
}

main .left{
	width: 40%;

}

main .right{
	width: 40%;

}

.left-left,.right-left{
	float: left;
	width: 8%;
}

.left-right{
	border-left:1px solid gray;
	float: right;
	width: 84%;
}

.right-right{
	border-left:1px solid gray;
	float: right;
	width: 85%;
}

.right-right li{
	padding-bottom: 10px;
}

.skills li{
  width: 325px;
}

.skills img{
  margin-top: -22px;
  float: right;
  padding-right: 80px;
}

.left-left img, .right-left img{
	margin-top: 15px;
}

section{
	padding-left: 20px;
  margin:10px;
}

.left li { padding-bottom: 10px; }

/*end style resume*/

@media (max-width: 991px) {
  .image-style {
    width: 400px;
    margin: 0px;
  }

  .resume-menu, .broadcast-menu, .story-menu {
    width: auto !important;
  }

  .resume-icon{
    font-size: 30pt!important;
    float: left;
    padding-right: 10px;
  }

  iframe{
    width:400px;
  }

  .video-container {
    padding: 20px;
    text-align: center;
  }

  .header-resume .left{
  	width: auto;
  }

  .skills img, .right-right,
  .left-right, .left-left,.right-left, .footer-resume img {
    float:none;
  }

  .footer-resume{
  	float:none;
    text-align:center;
    height: auto;
  }

  .footer-resume ul {
    float: none;
    margin: 0 auto;
    margin-top: 0px;
    width: auto;
    padding-left: 0px;
  }

  .icon {
    width:10%;
  }

  main .left, main .right {
    width:auto;
    float:none;
  }

  .footer-name {
  	font-family: biloxi;
  	font-size: 60pt!important;
    margin-bottom: -35px;
  }

  .list-horizontal {
    margin: 0 auto 0 auto;
    width: auto;
    height: auto;
    list-style: none;
    text-align: center;
    margin-left: -40px;
  }

  .header{
    text-align: center;
    height: auto;
    background: #ace5d5;
  }

  .menu-horizontal li, .pull-left{
    float:none;

  }

  .left-container {
    width: auto;
    padding: 10px;
  }

  .pull-right{
    float:none !important;
  }

  .right-container {
    width: auto;
    text-align: center;
  }

  .text-justified{
    text-align: justify;
  }

  .footer-style {
  	padding: 5px;
    bottom: 0;
    width: auto;
    position: relative;
  }

  .style-footer {
    font-size: 15pt;
    margin-top: -22px;
    border-top: 1px solid #68c4a9;
    padding-top: 42px;
    width:auto;
    padding-right: 0px;
  }

  .footer-name {
  	font-family: biloxi;
  	font-size: 145pt;
    margin-bottom: -35px;
  }

  .footer-name-style {
  	font-size: 45pt;
  }

  .other-sections{
    margin-top: -18px;
    padding-top: 0px;
    text-align:center;
  }

  .contact {
    width: auto;
    text-align: center;
  }
}
